[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "implyr"]
	path = implyr
	url = https://github.com/ianmcook/implyr
[submodule "queryparser"]
	path = queryparser
	url = https://github.com/ianmcook/queryparser
[submodule "tidyquery"]
	path = tidyquery
	url = https://github.com/ianmcook/tidyquery
[submodule "wkb"]
	path = wkb
	url = https://github.com/ianmcook/wkb
