[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "wkb"]
	path = wkb
	url = https://github.com/ianmcook/wkb
	shallow = true
	registered = true
[submodule "queryparser"]
	path = queryparser
	url = https://github.com/ianmcook/queryparser
	shallow = true
	registered = true
[submodule "tidyquery"]
	path = tidyquery
	url = https://github.com/ianmcook/tidyquery
	shallow = true
	registered = true
[submodule "implyr"]
	path = implyr
	url = https://github.com/ianmcook/implyr
	shallow = true
	registered = true
